* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: 'open sans', sans-serif;
}



/* Main Layout Controls */
.header-box {
  background-color: #E5F3F2;
  height: 40vh;
  padding: 10px;
  text-align: center;
}

span {
  color: #00A79D;
}

h1 {
  color: #6D6E71;
  font-family: 'roboto slab', serif;
  font-size: 50px;
  margin: 20px 0px;
  margin-bottom: 20px;
}

h3{
  font-family: 'roboto slab', serif;
  color: #6D6E71;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}



/* Button Controls */
.delete-btn {
  background-image: url('images/delete.svg');
  float: right;
}

.delete-btn:hover {
  background-image: url('images/delete-hover.svg');
}

.downvote-btn {
  background-image: url('images/downvote.svg');
}

.downvote-btn:hover {
  background-image: url('images/downvote-hover.svg');
}

.upvote-btn {
  background-image: url('images/upvote.svg');
}

.upvote-btn:hover {
  background-image: url('images/upvote-hover.svg');
}

.upvote-btn, .downvote-btn, .delete-btn {
  background-repeat: no-repeat;
  background-size: contain;
}

.quality-rating {

}



/* Input Controls */
input, .search {
  display: block;
  height: 25px;
  margin: auto;
  margin-bottom: 10px;
  outline: none;
  width: 35%;
}

.save {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  height: 30px;
  outline: none;
  width: 35%;
}

.save:hover {
  background-color: #045E55;
}

.search {
  margin: 20px auto;
}



/* JavaScript Node - Toggle Classes */
.body-text {
  color: #939598;
}

.idea-card {
  width: 35%;
  margin: auto;
}

#quality {
  color: #6D6E71;
  line-height: 16px;
  margin: 15px 15px 20px 0px;
}

#quality img {
  margin-right: 15px;
  vertical-align: top;
}



/* Not sure what this is linking to...*/
img {
  width: 20px;
}
